{% extends 'base.html.twig' %}

{% block title %}Oups...
{% endblock %}


{% block body %}

<div class = 'container mt-2'>
<h1>Aïe ! Une erreur est survenue lors du paiement...</h1>
<a class="btn btn-dark mt-auto" href="{{ path('home') }}">Retourner à l'acceuil </a>
<div>
{% endblock %}
